<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>Navigation</title>
            <link href='../static/style/style.css' type="text/css" rel="stylesheet">
    </head>
    <body>
     <header>
         <nav class="navbar">
             <ul>
                    <li>Disease Detection</li>
                    <li><a href="intro.html">Home</a></li>
                    <li><a href="predict.html">Detect</a></li>
                <li><a href="pneumonia.html">Pneumonia</a></li>
                <li><a href="malaria.html">Malria</a></li>
                <li><a href="liver.html">Liver</a></li>
                <li><a href="heart.html">Heart</a></li>
             </ul>  

         </nav>
     </header>
     <div class="content">
         <h1 style="text-align:center;text-transform:uppercase;">Heart Attack</h1>
         <p>A heart attack occurs when the flow of blood to the heart is blocked. The blockage is most often a buildup of fat, cholesterol and other substances, which form a plaque in the arteries that feed the heart</p>
        <p>When a heart attack occurs, the heart muscle that has lost blood supply begins to suffer injury. The amount of damage to the heart muscle depends on the size of the area supplied by the blocked artery and the time between injury and treatment.</p>
        <p>Heart muscle damaged by a heart attack heals by forming scar tissue. It usually takes several weeks for your heart muscle to heal. The length of time depends on the extent of your injury and your own rate of healing.</p>
        <p>The heart is a very tough organ. Even though a part of it may have been severely injured, the rest of the heart keeps working. But, because of the damage, your heart may be weakened, and unable to pump as much blood as usual.</p>
        <p>Symptoms</p>
        <ul>
            <li>Pressure, tightness or pain</li>
            <li>Nausea, indigestion, heartburn or abdoinal pain</li>
            <li>Shortness of breath</li>
            <li>Fatgiue</li>
        </ul>
        <p>The main thing is that the symptos varies fro person to person</p>
        <p>Risk factors</p>
        <ul>
            <li>Age</li>
            <li>Consumption of tobacco</li>
            <li>High blood cholesterol</li>
            <li>Obesity</li>
            <li>Diabetes</li>
            <li>Family history of heart attacks</li>
            <li>Stress and many more.</li>
        </ul>
        <p>Prevention</p>
        <ul>
            <li>Have a balanced diet</li>
            <li>Avoid Consumption of tobacco</li>
            <li>Control diabetes</li>
            <li>Meditation</li>
            <li>Regular excercise</li>
        </ul>
        <p>
            The test that are carried out to detect heart attack are:
        </p>
        <ul>
        <li>CT scans,X-rays</li>   
        <li>Electrocardiography</li>
        <li>Blood test</li>
        <li>Cardiac catherizaton</li> 
        </ul>
        <p>Values taken to check if the patient have chances of heart attack or not</p>
        <ul>
            <li>Age</li>
            <li>Gender</li>
            <li>CP:The chest pain experienced (1 = typical angina; 2 = atypical angina; 3 = non-anginal pain; 0 = asymptomatic)</li>
            <li>trestbps:- The person’s resting blood pressure (in mm Hg on admission to the hospital) </li>
            <li>chol:Cholesterol (in mg/dl)</li>
            <li>Fbs:fasting blood sugar > 120 mg/dl (1 = true; 0 = false)</li>
            <li>restecg:Resting electrocardiographic results (1 = normal; 2 = having ST-T wave abnormality; 0 = hypertrophy)</li>
            <li>thalach:The person’s maximum heart rate achieved</li>
            <li>exang:- Exercise induced angina (1 = yes; 0 = no)</li>
            <li>oldpeak:ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot)</li>
            <li>Slope:The slope of the peak exercise ST segment (2 = upsloping; 1 = flat; 0 = downsloping)</li>
            <li>CA:The number of major vessels (0-3)</li>
            <li>thal: A blood disorder called thalassemia(2 = normal; 1 = fixed defect(no blood flow in some part of the heart); 3 = reversable defect(a blood flow is observed but it is not normal))li>
        </ul>
        </div>
    </body>
</html> 