<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>Navigation</title>
            <link href='../static/style/style.css' type="text/css" rel="stylesheet">
            

    </head>
    <body>
     <header>
         <nav class="navbar">
             <ul>
                    <li>Disease Detection</li>
                <li><a href="intro.html">Home</a></li>
                <li><a href="predict.html">Detect</a></li>
                <li><a href="pneumonia.html">Pneumonia</a></li>
                <li><a href="malaria.html">Malria</a></li>
                <li><a href="liver.html">Liver</a></li>
                <li><a href="heart.html">Heart</a></li>
             </ul>  

         </nav>
     </header>
     <div class="classificationBtnDiv">
        <button id="pneumoniaBtn" class="selectedButton" onclick="makeDivisionVisible('pneumonia')">Pneumonia Classification</button>
        <button id="malariaBtn" class="classificationButton" onclick="makeDivisionVisible('malaria')">Malaria Classification</button> 
        <button id="liverBtn" class="classificationButton" onclick="makeDivisionVisible('liver')">Liver Disease Classification</button>     
        <button id="heartBtn" class="classificationButton" onclick="makeDivisionVisible('heart')">Heart Attack Classification</button>
    </div>
    <div class="classificationDiv">
        <div id="malaria" style="height: 100%; width: 100%;" hidden>
            <div id="clasificationInput" class="classificationBox">
            
                <!-- <form method="post" enctype="multipart/form-data" id="malariaFormData"> -->
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop file here or select</span> <!--for prompt-->  
                        <input type="file" id="malaria_input_file" name="myfile" class="drop-zone__input">
                        
                    </div>
                    <input type="button" value="Predict" style="margin-left: 100px;margin-top: 20px;font-size: 25px;" onclick="malariaClassificationButton()">
                <!-- </form> -->
        
            </div>
            <div id="classificationOutput" style="text-align: center;" class="classificationBox">
                <h3 style="text-align: center;" id="classificationOuputResultMalaria"></h3>
            </div>
            
        </div>

        <div id="pneumonia" style="height: 100%;width: 100%;">
            <div class="classificationBox">
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop file here or select</span>
                    <input type="file" id="pneumonia_input_file" name="myfile1" class="drop-zone__input">
                    
                </div>
                <input type="button" value="Predict" style="margin-left: 100px;margin-top: 20px;font-size: 25px;" onclick="pneumoniaClassificationButton()">
            </div>
            <div class="classificationBox">
                <h3 style="text-align: center;" id="classificationOuputResultPneumonia"></h3>
            </div>
        </div>

        <div id="liver" style="height: 100%; width: 100%;" hidden>
            <div id="clasificationInput" class="classificationBox">
            
                <!-- <form method="post"  id="LiverFormData"> -->
                        <!-- <span class="drop-zone__prompt">Drop file here or select</span> 
                        <input type="file" id="pneumonia_input_file" name="myfile1" class="drop-zone__input"> -->
                        <!-- <div id="row1"> -->
                        <br>
                        <label>Age:</label><input  type="text" name="Age" id="age" required>
                        <br>
                        <!-- <br> -->
                        <label>Male</label><input  type="radio" name="gender" id="gender" value="Male" required>
                        <br>
                        <label>Female:</label><input  type="radio" name="gender" id="gender" value="Female" required>
                        <br>
                        <!-- <br> -->
                        <label>Total Bilirubin:</label><input  type="text" name="Total_b" id="Total_b" required>
                        <br>
                        <!-- <br> -->
                        <label>Alkaline Phosphotase:</label><input  type="text" name="Alkaline_p" id="Alkaline_p" required>
                        <br>
                        <!-- <br> -->
                        <label>Alamine Aminotransferase</label><input  type="text" name="Alamine_a" id="Alamine_a" required>
                        <br>
                        <!-- <br> -->
                        <label>Total Protiens:</label><input  type="text" name="Total_p" id="Total_p" required>
                        <br>
                        <!-- <br> -->
                        <label>Albumin and Globulin Ratio:</label><input  type="text" name="Albumin_g" id="Albumin_g" required>
                        <br>
                        <br>
                        <!-- </div> -->
                        
                    
                   
                 <!-- </form> -->
                 <input type="button" value="Predict" style="margin-left: 140px;margin-top: 70px;font-size: 25px;" onclick="liverClassificationButton()">
        
            </div>
            <div id="classificationOutput" style="text-align: center;" class="classificationBox">
                <h3 style="text-align: center;" id="classificationOuputResultLiver"></h3>
            </div>
            
        </div>


        <div id="heart" style="height: 100%; width: 100%;" hidden>
            <div id="clasificationInput" class="classificationBox">
            
                <!-- <form method="post"  id="LiverFormData"> -->
                        <!-- <span class="drop-zone__prompt">Drop file here or select</span> 
                        <input type="file" id="pneumonia_input_file" name="myfile1" class="drop-zone__input"> -->

                        <div class="child1" style="width: 70%;float: left;">
                        <br>
                        <label>Age:</label><input  type="text" name="age1" id="age1" required>
                        <br><br>
                        <label>Male</label><input  type="radio" name="gender1" id="gender1" value="Male" required>
                        <br>
                        <label>Female:</label><input  type="radio" name="gender1" id="gender1" value="Female" required>
                        <br>
                        <!-- <br> -->
                        <label>CP:</label><input  type="text" name="CP" id="CP" required>
                        
                        <br>
                        <!-- <br> -->
                        <label>trtbps:</label><input  type="text" name="trtbps" id="trtbps" required>
                        
                        <br>
                        <!-- <br> -->
                        <label>Cholestrol</label><input  type="text" name="chol" id="chol" required>
                        
                        <br>
                        <!-- <br> -->
                        <label>FBS:</label><input  type="text" name="fbs" id="fbs" required>
                        
                        <br>
                        <!-- <br> -->
                        <label>RestECG:</label><input  type="text" name="rest_ecg" id="rest_ecg" required>
                        
                        <br>
                        <!-- <br> -->
                        <label>thalachh:</label><input  type="text" name="thalachh" id="thalachh" required>
                        <br>
                        <!-- <br> -->
                        <label>exng:</label><input  type="text" name="exng" id="exng" required>
                        </div> 
                        
                        <div class="child1" style="width: 30%;float: right;">
                        <br>
                        <!-- <br> -->
                        <label>oldpeak:</label><input  type="text" name="oldpeak" id="oldpeak" required>
                        <br>
                        <!-- <br> -->
                        <label>slp:</label><input  type="text" name="slp" id="slp" required>
                        <br>
                        <!-- <br> -->
                        <label>caa:</label><input  type="text" name="caa" id="caa" required>
                        <br>
                        <!-- <br> -->
                        <label>thall:</label><input  type="text" name="thall" id="thall" required>
                        <br>
                    </div>
                    <input id="btn" type="button" value="Predict"  onclick="HeartClassificationButton()">
                 
        
            </div>
            <div id="classificationOutput" style="text-align: center;" class="classificationBox">
                <h3 style="text-align: center;" id="classificationOuputResultHeart"></h3>
            </div>
            
        </div>



    </div>

    <script>
        let currentVisibleDivisionID = "pneumonia"
        const divButtonMap = {"pneumonia":"pneumoniaBtn", "malaria":"malariaBtn", "liver": "liverBtn", "heart":"heartBtn"}

        function makeDivisionVisible(divisionID){
            var existingDivisionElement = document.getElementById(currentVisibleDivisionID)
            var newDivisionElement = document.getElementById(divisionID)

            document.getElementById(divButtonMap[currentVisibleDivisionID]).setAttribute("class","classificationButton")
            document.getElementById(divButtonMap[divisionID]).setAttribute("class","selectedButton")
            
            existingDivisionElement.setAttribute("hidden", true)
            newDivisionElement.removeAttribute("hidden")
            currentVisibleDivisionID = divisionID
        }

    </script>


    <script type="text/javascript" src="../static/style/main.js"></script>
    </body>
</html>