<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>Navigation</title>
            <link href='../static/style/style.css' type="text/css" rel="stylesheet">
    </head>
    <body>
     <header >
         <nav class="navbar" >
             <ul>
                    <li>Disease Detection</li>
                    <li><a href="intro.html">Home</a></li>
                    <li><a href="predict.html">Detect</a></li>
                <li><a href="pneumonia.html">Pneumonia</a></li>
                <li><a href="malaria.html">Malria</a></li>
                <li><a href="liver.html">Liver</a></li>
                <li><a href="heart.html">Heart</a></li>
             </ul>  

         </nav>
     </header>
     <div class="content">
         <h1 style="text-align:center;text-transform:uppercase;">Liver Disease</h1>
        <p>Liver disease is any disturbance of liver function that causes illness.</p>
        <p>The liver is responsible for many critical functions within the body and should it become diseased or injured, the loss of those functions can cause significant damage to the body. Liver disease is also referred to as hepatic disease.</p>
        <p>Liver disease is a broad term that covers all the potential problems that cause the liver to fail to perform its designated functions. Usually, more than 75% or three quarters of liver tissue needs to be affected before a decrease in function occurs.</p>
        <p>The liver is the largest solid organ in the body; and is also considered a gland because among its many functions, it makes and secretes bile. The liver is located in the upper right portion of the abdomen protected by the rib cage.</p>
        <p>Symptoms</p>
        <ul>
            <li>Itchy skin</li>
            <li>Dark urine colour</li>
            <li>Chronic fatigue</li>
            <li>Loss of apetite</li>
            <li>Skin and eyes appear yellowish</li>
            <li>Nausea</li>
            <li>Diarrhea</li>
            <li>Profuse sweating</li>
        </ul>
        <p>Causes</p>
        <ul>
            <li>Heavy alcohol use</li>
            <li>Obesity</li>
            <li>Type 2 diabetes</li>
            <li>Exposure to certain chemical or toxins</li>
            <li>Family history of liver disease</li>
        </ul>
        <p>Values taken to check if the patient has liver disease or not</p>
        <ul>
            <li>Age</li>
            <li>Gender</li>
            <li>Total_Bilirubin:Bilirubin is a yellow compound that occurs in the normal catabolic pathway that breaks down heme in vertebrates.</li>
            <li>Alkaline_Phosphotase:- is a homodimeric protein enzyme </li>
            <li>Alamine_Aminotransferase:-Alanine aminotransferase (ALT) is an enzyme that increases in the blood when the liver is damaged.</li>
            <li>Total Proteins:-The total protein is the  measures of  the total amount albumin and globulin in your body.</li>
            <li>Albumin_and_Globulin_Ratio:-The albumin/globulin ratio is the amount of albumin in the serum divided by the globulins</li>
        </ul>
        </div>
    </body>
</html> 
