<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>Navigation</title>
            <link href='../static/style/style.css' type="text/css" rel="stylesheet">
    </head>
    <body>
     <header >
         <nav class="navbar" >
             <ul>
                    <li>Disease Detection</li>
                    <li><a href="intro.html">Home</a></li>
                    <li><a href="predict.html">Detect</a></li>
                <li><a href="pneumonia.html">Pneumonia</a></li>
                <li><a href="malaria.html">Malria</a></li>
                <li><a href="liver.html">Liver</a></li>
                <li><a href="heart.html">Heart</a></li>
             </ul>  

         </nav>
     </header>
     <div class="content">
         <h1 style="text-align:center;text-transform:uppercase;">Malaria</h1>
        <p>Malaria is a life-threatening disease caused by parasites that are transmitted to people through the bites of infected female Anopheles mosquitoes. It is preventable and curable.</p>
        <p>Malaria is a mosquito-borne infectious disease that affects humans and other animals</p>
        <p>The disease is most commonly spread by an infected female Anopheles mosquito. The mosquito bite introduces the parasites from the mosquito's saliva into a person's blood. The parasites travel to the liver where they mature and reproduce. Five species of Plasmodium can infect and be spread by humans</p>
        <p>The parasites continue to infect red blood cells, resulting in symptoms that occur in cycles that last two to three days at a time.</p>
        <p>Symptoms</p>
        <ul>
            <li>High fever</li>
            <li>Headache</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Anemia</li>
            <li>Muscle pain</li>
            <li>Diarrhea</li>
            <li>Profuse sweating</li>
        </ul>
        <p>Who all are at risk</p>
        <ul>
            <li>Infants, children under 5</li>
            <li>Pregenant women</li>
            <li>Patients with HIV/AIDS</li>
        </ul>
        </div>
    </body>
</html> 
